@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

header {
  font-family: 'Montserrat', sans-serif;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
}


footer{
  font-family: 'Montserrat', sans-serif;
  }

  a {
  color: inherit;
  text-decoration: none;
}

container{
  color: black;
}

.all{
  height:100vh;
}

* {
  box-sizing: border-box;
}